repos:
  - repo: https://github.com/hhatto/autopep8
    rev: v2.3.2
    hooks:
      - id: autopep8
        args: ["--in-place", "--aggressive", "--aggressive", "--indent-size=2"]
        files: \.py$
